{% extends 'layout.html' %}

{% block body %}

<div class="container p-4 w-50">
    <h3>Adicionar Termo</h3>

    <form action="/term" method="POST">
        <div class="mb-3">
          <label class="form-label">Designação (PT):</label>
          <input type="text" class="form-control" name="designation" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Descrição (PT):</label>
            <input type="text" class="form-control" name="desc_pt" required>
        </div>
        <button type="submit" class="btn btn-outline-secondary">Adicionar</button>
      </form>
    
    {% if message %}
    {{message}}
    {% endif %}   
</div>

{% endblock %}