{% extends 'layout.html' %}

{% block body %}

<div class="container p-4 w-50">
    <h3>Adicionar Termo</h3>

    <form action="/term" method="POST">
        <div class="mb-3">
          <label class="form-label">Designação:</label>
          <input type="text" class="form-control" name="designation" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Tradução em inglês:</label>
            <input type="text" class="form-control" name="en" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Tradução em espanhol:</label>
          <input type="text" class="form-control" name="es" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Expressão popular portuguesa:</label>
            <input type="text" class="form-control" name="exp pop" required>
        </div>
        <button type="submit" class="btn btn-success">Adicionar</button>
      </form>
    
    {% if message %}
    {{message}}
    {% endif %}   
    <hr> 
</div>

{% endblock %}