{% extends 'layout.html' %}

{% block body %}

    <div style="text-align: center;">
        <div>
            <h5 style="margin-top: 3rem;">MEBIOM - Informática Médica</h5>
            <h5 style="margin-bottom: 2rem;">Processamento de Linguagem Natural - 2022/2023</h5>
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/EEUMLOGO.png" style="width: 8%" class="rounded">
        </div>
        <p><h6>Ana Sá, Mariana Fernandes, Mariana Rodrigues</h6></p>
        <p><h6>PG49857, A92048, PG51211</h6></p>
        
    </div>

    <div style="padding: 5%;">
        <hr>
        <div style="display: flex; align-items: center; justify-content: center;">
            <div>
                <h2>Bem vind@ à página inicial dos Termos Médicos</h2>
                <h5>Welcome to Medical terms home page</h5>
            </div>  
            <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExMzkwYTMzOGJmNWQxNzg4ZDY2M2M5ZjY5ZmRhNjlkOTU2Y2E2MGIxYiZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/GfPrw7USykA0M/giphy.gif" style="width: 5%; margin-left: 30px; margin-bottom: 30px;"/>
        </div>
        <hr>
    </div>

{% endblock %}