{% extends 'layout.html' %}

{% block body %}

<h3 style="margin-left: 15rem; margin-top: 2rem;">Termo: {{ designation }}</h3>
<div class="container w-75 p-4" style="display: flex; justify-content: space-between;"">
    
    <!-- ------------TRADUÇÕES------------ -->
    
    <div class="container w-50 p-4" style="border-right: 5px solid #673808a8;">
        <h4>Traduções</h4>

        {% if value['Traduções'] %}
            <!-- TRADUÇÃO E DESCRIÇÃO EM INGLES -->
            {% if value['Traduções']['en'] %}
            <hr>
            <div class="d-flex align-items-baseline">
                <img class="rounded m-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Flag_of_the_United_Kingdom_%283-5%29.svg/255px-Flag_of_the_United_Kingdom_%283-5%29.svg.png" style="width: 2rem;">
                <h6 style="margin-top: 0.6rem;;">{{ value['Traduções']['en'] }}</h6>
            </div>
            {% endif %}

            
            <!-- TRADUÇÃO EM ESPANHOL -->
            {% if value['Traduções']['es'] %}
            <hr>
            <div class="d-flex align-items-baseline">
                <img class="rounded m-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/255px-Flag_of_Spain.svg.png" style="width: 2rem;">
                <h6>{{ value['Traduções']['es'] }}</h6>
            </div>
            {% endif %}


            <!-- TRADUÇÃO EM FRANCES -->
            {% if value['Traduções']['fr'] %}
            <hr>
            <div class="d-flex align-items-baseline">
                <img class="rounded m-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Flag_of_France_%281794%E2%80%931815%2C_1830%E2%80%931974%2C_2020%E2%80%93present%29.svg/255px-Flag_of_France_%281794%E2%80%931815%2C_1830%E2%80%931974%2C_2020%E2%80%93present%29.svg.png" style="width: 2rem;">
                <h6>{{ value['Traduções']['fr'] }}</h6>
            </div>
            {% endif %}


            <!-- TRADUÇÃO EM ALEMÃO -->
            {% if value['Traduções']['de'] %}
            <hr>
            <div class="d-flex align-items-baseline">
                <img class="rounded m-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Flag_of_Germany.svg/255px-Flag_of_Germany.svg.png" style="width: 2rem;">
                <h6>{{ value['Traduções']['de'] }}</h6>
            </div>
            {% endif %}


            <!-- TRADUÇÃO EM RUSSO -->
            {% if value['Traduções']['ru'] %}
            <hr>
            <div class="d-flex align-items-baseline">
                <img class="rounded m-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Russia.svg/255px-Flag_of_Russia.svg.png" style="width: 2rem;">
                <h6>{{ value['Traduções']['ru'] }}</h6>
            </div>
            {% endif %}


            <!-- TRADUÇÃO EM JAPONÊS -->
            {% if value['Traduções']['ja'] %}
            <hr>
            <div class="d-flex align-items-baseline">
                <img class="rounded m-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Flag_of_Japan.svg/2000px-Flag_of_Japan.svg.png" style="width: 2rem;">
                <h6>{{ value['Traduções']['ja'] }}</h6>
            </div>
            {% endif %}


            <!-- TRADUÇÃO EM COREANO -->
            {% if value['Traduções']['ko'] %}
            <hr>
            <div class="d-flex align-items-baseline">
                <img class="rounded m-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/300px-Flag_of_South_Korea.svg.png" style="width: 2rem;">
                <h6>{{ value['Traduções']['ko'] }}</h6>
            </div>
            {% endif %}


            <!-- TRADUÇÃO EM CHINÊS -->
            {% if value['Traduções']['zh'] %}
            <hr>
            <div class="d-flex align-items-baseline">
                <img class="rounded m-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/255px-Flag_of_the_People%27s_Republic_of_China.svg.png" style="width: 2rem;">
                <h6>{{ value['Traduções']['zh'] }}</h6>
            </div>
            {% endif %}


            <!-- TRADUÇÃO EM ÁRABE -->
            {% if value['Traduções']['ar'] %}
            <hr>
            <div class="d-flex align-items-baseline">
                <img class="rounded m-2" src="https://pt.wikipedia.org/wiki/Bandeira_do_Egito#/media/Ficheiro:Flag_of_Egypt.svg" style="width: 2rem;">
                <h6>{{ value['Traduções']['ar'] }}</h6>
            </div>
            {% endif %}

            
        {% else %}
            <hr>
            <h6>-</h6>
        {% endif %}
    </div>


    <!-- ------------DESCRIÇÕES------------ -->

    <div class="container w-50 p-4">
        <h4>Descrições</h4>

        {% if value['Descrições'] %}
            <!-- EXPRESSÃO POPULAR E DESCRIÇÃO EM PORTUGUES -->

            <!-- com exp pop e descrição -->
            {% if value['Descrições']['exp pop'] and value['Descrições']['desc_pt'] %}
            <hr>
            <div class="d-flex align-items-baseline">
                <img class="rounded m-2" src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Flag_of_Portugal.svg" style="width: 2rem;">
                <div class="d-flex flex-column">
                    <h6><i>(GoogleTranslator)</i> {{ value['Descrições']['desc_pt'] }}</h6>
                <hr>
                    <h6><b>Expressão popular:</b> {{ value['Descrições']['exp pop'] }}</h6>
                </div>
            </div>
            {% endif %}


            <!-- com exp pop e sem descrição -->
            {% if value['Descrições']['exp pop'] and not value['Descrições']['desc_pt'] %}
            <hr>
            <div class="d-flex align-items-baseline">
                <img class="rounded m-2" src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Flag_of_Portugal.svg" style="width: 2rem;">
                <h6><b>Expressão popular:</b> {{ value['Descrições']['exp pop'] }}</h6>
            </div>
            {% endif %}


            <!-- com descrição e sem exp pop -->
            {% if value['Descrições']['desc_pt'] and not value['Descrições']['exp pop'] %}
            <hr>
            <div class="d-flex align-items-baseline">
                <img class="rounded m-2" src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Flag_of_Portugal.svg" style="width: 2rem;">
                <h6><i>(Cruz Verde)</i> {{ value['Descrições']['desc_pt'] }}</h6>
            </div>
            {% endif %}

            <!-- DESCRIÇÃO EM INGLÊS -->
            {% if value['Descrições']['desc_en'] %}
            <hr>
            <div class="d-flex align-items-baseline">
                <img class="rounded m-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Flag_of_the_United_Kingdom_%283-5%29.svg/255px-Flag_of_the_United_Kingdom_%283-5%29.svg.png" style="width: 2rem;">
                <h6>{{ value['Descrições']['desc_en'] }}</h6>
            </div>
            {% endif %}
        
        {% else %}
            <hr>
            <h6>-</h6>
        {% endif %}
    </div>
</div>
    
{% endblock %}