{% extends 'layout.html' %}

{% block body %}

<!-- PESQUISA POR TERMOS, ETC -->
<form action="/terms-woman/search" method="GET">
    <div class="container p-4 w-50">
      <h3>Pesquisar Termo/Traduções/Exp. popular/Descrições</h3>
      <label class="form-label">Inserir texto:</label>
      <input type="text" class="item-form form-control" name="text">
      <button type="submit" class="btn btn-outline-secondary mt-2">Pesquisar</button>
    </div>
</form>

<div class="container p-4 w-50">
    {% if matched %}
        <h3>Resultados:</h3>
        <ul>
        {% for designation, description in matched %}
        <li class="item-table list-group-item d-flex align-items-center">
            <a href="/term/{{designation}}" class="list-group-item list-group-item-action btn-outline-light" style="width: 80%; margin-right: 0.7rem; background-color: #67380827;">{{designation}}</a> 
            <div>
            <button type="button" class="btn btn-outline-danger" onclick="deleteTerm_woman('{{designation}}')"> <i class="material-icons">delete</i> </button> 
            </div>
        </li>
        {% endfor %}
        </ul>
    {% endif %}
    
    {% if message %}
        <h6 style="color: red;">{{ message }}</h6>
    {% endif %}
<hr>
</div>


<!-- TERMOS -->
<div class="container p-4 w-50">
    <h3>Termos Médicos da Saúde da Mulher</h3>
    <div class="list-group">
        {% for designation in designations %}
        <li class="item-table list-group-item d-flex align-items-center">
            <a href="/term/{{designation}}" class="list-group-item list-group-item-action btn-outline-light" style="width: 80%; margin-right: 0.7rem; background-color: #67380827;" id="section-{{ designation[0] }}">{{designation}}</a> 
            <div>
            <button type="button" class="btn btn-outline-danger" onclick="deleteTerm_woman('{{designation}}')"> <i class="material-icons">delete</i> </button> 
            </div>
        </li>
        {% endfor %}
    </div>
</div>



<style>
    .dictionary-sidebar {
      position: fixed;
      top: 10%;
      bottom: 0;
      left: 3%;
      width: 1%;
      box-sizing: border-box;
    }
    
    .dictionary-sidebar a {
        text-decoration: none;
        font-weight: 700;
        color: black;
        border-bottom: 1px solid black;
    }
</style>
  
<div class="dictionary-sidebar">
    <a href="#section-a">A</a>
    <a href="#section-b">B</a>
    <a href="#section-c">C</a>
    <a href="#section-d">D</a>
    <a href="#section-e">E</a>
    <a href="#section-f">F</a>
    <a href="#section-g">G</a>
    <a href="#section-h">H</a>
    <a href="#section-i">I</a>
    <a href="#section-j">J</a>
    <a href="#section-k">K</a>
    <a href="#section-l">L</a>
    <a href="#section-m">M</a>
    <a href="#section-n">N</a>
    <a href="#section-o">O</a>
    <a href="#section-p">P</a>
    <a href="#section-q">Q</a>
    <a href="#section-r">R</a>
    <a href="#section-s">S</a>
    <a href="#section-t">T</a>
    <a href="#section-u">U</a>
    <a href="#section-v">V</a>
    <a href="#section-w">W</a>
    <a href="#section-x">X</a>
    <a href="#section-y">Y</a>
    <a href="#section-z">Z</a>
</div>  

{% endblock %}